:root {
  --max-width: 1200px;
}

/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include xl-min($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include sm-min($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include md-min($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include lg-min($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include xl-min($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include xs-max($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include sm-max($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include md-max($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include lg-max($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include xl-max($print) {

  }
*/
/*
  Usage:
  since word cannot work with media print, the files set the is-not-word variable globally,
  this will ensure that all print things are added in print in pdf.css and print. and all
  word things are not added within print media query.
  @include print {

  }
*/
/*
  Helpers do not use
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

li {
  list-style-type: none;
}

input {
  border-radius: 0;
  outline: none;
}

.title {
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .title {
    margin: 40px 0;
  }
}

.list-item {
  list-style: disc;
  margin-left: 15px;
}
.list-item + .list-item {
  margin-top: 12px;
}
@media (max-width: 767px) {
  .list-item {
    margin-left: 17px;
  }
}

.list-subtitle {
  padding-bottom: 5px;
}
.list-subtitle:nth-of-type(2) {
  padding-top: 5px;
}

.sub-list-item {
  list-style: disc;
  margin-left: 35px;
}

.sub-sub-list-item {
  margin-left: 45px;
  list-style: disc;
}

.title-center {
  margin: 0 auto;
  margin: 50px 0;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.div_jindu_in {
  display: none !important;
}

:root {
  --max-width: 1200px;
}

/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include xl-min($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include sm-min($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include md-min($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include lg-min($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include xl-min($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include xs-max($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include sm-max($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include md-max($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include lg-max($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include xl-max($print) {

  }
*/
/*
  Usage:
  since word cannot work with media print, the files set the is-not-word variable globally,
  this will ensure that all print things are added in print in pdf.css and print. and all
  word things are not added within print media query.
  @include print {

  }
*/
/*
  Helpers do not use
*/
.header {
  height: 100vh;
}

.header__inner {
  overflow-x: clip;
}

.header__image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-image: url(../assets/images/header/header.jpg);
  width: 100vw;
  position: relative;
  top: 0;
  background-position: center;
}
.header__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
}

.header__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-transform: uppercase;
}

.header__text {
  font-size: 40px;
  text-align: center;
  font-weight: 400;
}
@media screen and (min-width: 992px) {
  .header__text {
    font-size: 70px;
  }
}

/* Add zoom on hover for .service__item */
.service__item {
  position: relative;
  overflow: hidden; /* Ensures the zoom effect stays within bounds */
  transition: transform 0.3s ease; /* Smooth zoom transition */
}

.service__item:hover {
  transform: scale(1.1); /* Slight zoom on hover */
}

/* Add an overlay effect using ::after */
.service__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
  transition: opacity 0.3s ease; /* Smooth overlay transition */
  pointer-events: none; /* Prevent the overlay from interfering with hover */
}

.service__item:hover::before {
  opacity: 0.6; /* Darkens the overlay on hover */
}

.menu__logo {
  display: block;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../assets/images/logo/logo.png);
  width: 130px;
  height: 50px;
}

.menu {
  position: fixed;
  top: 0;
  z-index: 111;
  width: 100%;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s ease, color 0.3s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.menu.scrolled {
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.1);
}
.menu.scrolled .menu__link {
  color: black;
}
.menu.scrolled .hamburger-react {
  color: black;
}

.menu__inner {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
}
@media screen and (min-width: 768px) {
  .menu__inner {
    padding: 0 40px;
  }
}
@media screen and (min-width: 992px) {
  .menu__inner {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 20px;
  }
}
@media screen and (min-width: 992px) and (min-width: 768px) {
  .menu__inner {
    padding: 0 40px;
  }
}

.menu__logo {
  width: 130px;
  height: 50px;
}

.menu__list {
  max-width: 100vw;
  position: absolute;
  top: 0;
  padding-top: 100px !important;
  bottom: 0;
  height: 100vh;
  left: 0;
  width: 100%;
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu__list.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu__li {
  padding: 15px 20px;
  text-align: center;
}

.menu__link {
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  display: block;
  letter-spacing: 1px;
  color: #ffffff;
  transition: color 0.3s ease;
}
.open .menu__link {
  color: black;
  text-align: center;
  text-transform: lowercase;
  margin: 0 auto;
  font-size: 20px;
}
.menu__link:hover {
  text-decoration: underline;
}

.menu__hamburger {
  cursor: pointer;
}

.menu__link--contact {
  text-transform: uppercase;
  width: 130px;
  font-size: 12px;
}
.menu-open .menu__link--contact .menu__link {
  text-transform: lowercase;
  text-align: center;
}

.menu__link--phone {
  color: inherit;
}

.hamburger-react {
  color: #ffffff;
  z-index: 111 !important;
}
.open .hamburger-react {
  color: black;
}

.menu__link--footer {
  font-size: 12px;
}

@media (max-width: 991px) {
  .menu-contact {
    display: none;
  }
}

.menu__link--contact:hover {
  text-decoration: none;
}

.service__item--wrapper {
  cursor: pointer;
  width: calc(50% - 20px);
  overflow: hidden;
}

.service__item {
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1/1;
}

.service__item-2 {
  background-image: url(../assets/images/services/service-1.png);
}

.service__item-3 {
  background-image: url(../assets/images/services/service-3.png);
}

.service__item-4 {
  background-image: url(../assets/images/services/service-4.jpg);
}

.service__item-1 {
  background-image: url(../assets/images/services/service-2.jpg);
}

.service__item {
  position: relative;
}

.service__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .services {
    padding: 0 40px;
  }
}

.service__inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.service__title {
  font-size: 40px;
  text-transform: uppercase;
  z-index: 11;
  color: #ffffff;
  font-weight: 400;
}

:root {
  --max-width: 1200px;
}

/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include xl-min($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include sm-min($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include md-min($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include lg-min($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include xl-min($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include xs-max($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include sm-max($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include md-max($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include lg-max($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include xl-max($print) {

  }
*/
/*
  Usage:
  since word cannot work with media print, the files set the is-not-word variable globally,
  this will ensure that all print things are added in print in pdf.css and print. and all
  word things are not added within print media query.
  @include print {

  }
*/
/*
  Helpers do not use
*/
.section {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 20px;
  margin: 40px 0;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 0 40px;
  }
}
@media screen and (min-width: 992px) {
  .section {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin: 100px auto;
    gap: 50px;
  }
  .section.section-services {
    margin-bottom: 0;
    margin-top: 100px;
  }
}
@media screen and (min-width: 992px) and (min-width: 992px) {
  .section.section-services {
    margin-top: 200px;
  }
}
@media (max-width: 991px) {
  .section.section-story {
    margin-top: 0px;
  }
}

.section-col__left {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .section-col__left {
    width: 25%;
  }
}

.section-col__right {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .section-col__right {
    width: 75%;
  }
}

.slash {
  color: #c40914;
  font-weight: 500;
}

.title {
  font-size: 17px;
  font-weight: 450;
  text-transform: uppercase;
}
@media screen and (min-width: 992px) {
  .title {
    font-size: 22px;
  }
}
.section-story .title {
  margin-top: 0;
}

.images {
  position: relative;
  display: none;
}
@media screen and (min-width: 992px) {
  .images {
    display: block;
  }
}

.images-mobile-wrapper {
  overflow-x: clip;
  height: 340vh;
}
@media screen and (min-width: 992px) {
  .images-mobile-wrapper {
    display: none;
  }
}

.images-mobile {
  position: sticky;
  top: 10vh;
  height: 85vh;
}

.images-mobile-inner {
  display: flex;
}
.images-mobile-inner .image {
  flex: 1 0 100%;
  height: 85vh;
  transform: scale(1);
}

.image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: scale(0.8);
  transition: transform 0.4s ease-out;
}

.image--visible {
  transform: scale(1);
}

.images__inner {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.image_1 {
  background-image: url(../assets/images/images/image1.jpeg);
  width: 100%;
  height: 600px;
}
@media screen and (min-width: 992px) {
  .image_1 {
    width: 50%;
  }
}

.image_2 {
  background-image: url(../assets/images/images/image2.jpeg);
  width: 100%;
  height: 300px;
}
@media screen and (min-width: 992px) {
  .image_2 {
    width: 25%;
  }
}

.image_3 {
  background-image: url(../assets/images/images/image3.jpeg);
  width: 100%;
  height: 300px;
}
@media screen and (min-width: 992px) {
  .image_3 {
    width: 25%;
  }
}

.big-image {
  height: 80vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.big-image-container {
  position: relative;
  overflow-y: clip;
}

.big-image {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  display: block; /* Removes bottom space under images */
}

.big-image-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__text {
  display: block;
  font-size: 16px;
  line-height: 1.35;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .about__text {
    font-size: 22px;
    margin-bottom: 0px;
  }
}
.about__text:nth-of-type(2) {
  margin-bottom: 0;
}
.about__text + .about__text {
  margin-top: 20px;
}

.about__text-wrapper {
  margin-bottom: 50px;
}
@media (max-width: 991px) {
  .about__text-wrapper {
    margin-bottom: 0;
  }
}

.diagonal-component {
  position: relative;
}
.diagonal-component::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  height: 100px;
  background-color: white;
  transform: skewY(-4deg);
  z-index: 0;
}

.diagonal-component--red {
  margin-top: 100px;
  z-index: -1;
}
.diagonal-component--red::before {
  background-color: #c40914;
}

.slider {
  overflow: hidden;
  width: 100vw;
  position: relative;
  margin: 100px 0;
}
@media screen and (min-width: 992px) {
  .slider {
    margin: 200px 0;
  }
}

.slider__inner {
  display: flex;
  width: 10030px;
}

.slider__item {
  width: 200px;
  flex-shrink: 0;
  margin: 0 20px;
  height: 240px;
}
@media screen and (min-width: 992px) {
  .slider__item {
    width: 295px;
    height: 340px;
  }
}

.slider__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__inner--logos {
  gap: 50px;
}

.slider__item--logo {
  background-repeat: no-repeat;
  background-size: contain;
}

.footer {
  width: 100vw;
  min-height: 5vh;
  background-color: #c40914;
  margin-top: 50px;
}
.footer svg {
  color: #ffffff;
}
@media screen and (min-width: 992px) {
  .footer {
    margin-top: 100px;
  }
}

.footer-logo {
  background-image: url(../assets//images/logo/logo-white.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  width: 200px;
  height: 100px;
}

.footer-text {
  color: #ffffff;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  margin: 0 auto;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 20px;
  padding: 40px !important;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .footer__inner {
    padding: 0 40px;
  }
}
@media screen and (min-width: 992px) {
  .footer__inner {
    flex-direction: row;
    justify-content: space-between;
  }
}

.menu__list-footer {
  text-transform: uppercase;
}
.menu__list-footer .menu__li {
  text-align: center;
  padding: 5px 0;
}
@media screen and (min-width: 992px) {
  .menu__list-footer .menu__li {
    text-align: left;
  }
}
.menu__list-footer .menu__link--contact {
  padding: 0;
}

.footer__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .footer__col {
    align-items: flex-start;
    flex-direction: row;
  }
}

.footer-copy {
  border-top: 1px solid #e1dbdb;
  font-size: 12px;
  margin-top: 10px;
  color: #e1dbdb;
  text-align: center;
  padding: 10px 0;
}

.custom-accordion {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  padding: 0;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.2s;
  text-transform: uppercase;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 20px;
  padding: 20px 0;
}

.accordion-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 22px;
}
@media (max-width: 991px) {
  .accordion-title {
    font-size: 16px;
  }
}

.accordion-body {
  padding: 15px 0;
  background-color: #fff;
  animation: fadeIn 0.3s ease-in-out;
  font-size: 13px;
}
.accordion-body li + li,
.accordion-body p,
.accordion-body p + li {
  margin-bottom: 12px;
}
@media screen and (min-width: 992px) {
  .accordion-body {
    font-size: 18px;
    padding: 30px 15px;
  }
}

.accordion-icon {
  margin-left: auto;
  transition: transform 0.2s;
  color: #c40914;
  height: 40px;
  width: 40px;
  border: 0.5px solid #c40914;
  border-radius: 50%;
  position: relative;
}
@media (max-width: 767px) {
  .accordion-icon {
    height: 20px;
    width: 20px;
  }
}
.accordion-icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
p.list-title {
  margin-bottom: 20px;
  font-weight: 450;
}

.accordion-item {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.accordion-item:nth-of-type(1) {
  padding-top: 0;
}
.accordion-item:nth-of-type(1) .accordion-header {
  padding-top: 0;
}

.accordion-item.fade-in {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.accordion-item {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.accordion-item.fade-in {
  opacity: 1;
  animation: fadeIn 0.5s forwards;
}

.reviews-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}
@media screen and (min-width: 1025px) {
  .reviews-slider {
    max-width: 1200px;
  }
}

.review-title {
  margin: 0 auto;
}
.review-title h1 {
  text-align: center;
}

.review-icon {
  margin: 0 auto;
  font-size: 50px;
  color: #c40914;
  text-align: center;
  display: block;
}

.review__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: transform 0.5s ease;
  padding-bottom: 20px;
}

.review {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #e7e7e7;
}
.review svg {
  font-size: 30px;
  color: #c40914;
}
@media (max-width: 767px) {
  .review svg {
    font-size: 20px;
  }
}
.review:nth-of-type(1) {
  padding-top: 0;
}

.review__text {
  font-size: 16px;
  padding: 8px 0;
}
@media screen and (min-width: 992px) {
  .review__text {
    font-size: 22px;
  }
}

.review__name {
  font-size: 10px;
  color: #8b8989;
  text-transform: uppercase;
  text-align: left;
}
@media screen and (min-width: 992px) {
  .review__name {
    font-size: 14px;
  }
}

.slider__controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.slider__button {
  border: none;
  color: #000000;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 10px;
}

.review-image {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.review {
  opacity: 0;
}
.review.fade-in {
  animation: fadeInUp 0.6s ease forwards;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 20px;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .contact-container {
    padding: 0 40px;
  }
}

.contact-form,
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact-form {
  width: 100%;
  margin-right: 0;
  margin-left: auto;
}

.contact-info {
  width: 30%;
}

.contact-form__title {
  padding: 20px 0;
  text-align: center;
  letter-spacing: 3px;
}
@media screen and (min-width: 992px) {
  .contact-form__title {
    padding: 50px 0;
  }
}

.form-group {
  margin-bottom: 15px;
  border: none;
}

.form-group label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}
@media screen and (min-width: 992px) {
  .form-group label {
    font-size: 20px;
  }
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #000000;
  color: #8b8b8b;
}
.form-group input::-moz-placeholder, .form-group textarea::-moz-placeholder {
  opacity: 0.7;
}
.form-group input::placeholder,
.form-group textarea::placeholder {
  opacity: 0.7;
}

.form-group textarea {
  height: 150px;
  resize: vertical;
}
@media (max-width: 991px) {
  .form-group textarea {
    height: 100px;
  }
}

.error-message {
  color: #c40914;
  font-size: 0.6rem;
  padding-top: 5px;
}

button {
  padding: 10px 20px;
  color: #000000;
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  margin-top: 20px;
  border: 1px solid #000000;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  button {
    font-size: 10px;
  }
}
button:hover {
  background-color: #c40914;
  color: #ffffff;
  border: 1px solid #c40914;
}

.contact-info h2 {
  margin-top: 0;
}

.social-contact {
  width: 30%;
  margin-top: 30px;
}

.contact__bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.contact__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .contact__col {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
  }
}

.contact__title {
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 500;
  padding-bottom: 10px;
  color: #ffffff;
}

.contact__tel,
.contact__email,
.contact__street,
.contact__city {
  font-size: 12px;
  color: #ffffff;
  display: block;
}

.contact__tel,
.contact__street {
  padding-bottom: 5px;
}

@media (max-width: 991px) {
  .contact__col {
    padding-top: 30px;
  }
}

.welcome {
  text-align: center;
  font-size: 22px;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
  margin-top: 200px;
}
@media screen and (min-width: 768px) {
  .welcome {
    padding: 0 40px;
  }
}
@media (max-width: 991px) {
  .welcome {
    font-size: 16px;
    margin: 40px 0;
  }
}

.link {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-top: 40px;
  text-decoration: none;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  /* This triggers the animation when hovering over .link */
}
.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: black;
  transform: scaleX(0); /* Set initial scale to 0 for hidden state */
  transform-origin: left;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.link:hover::after {
  transform: scaleX(1); /* Expands the line to full width */
  background-color: #000000;
}

.link-text {
  position: relative;
  font-weight: 500;
  font-size: 15px;
}
@media screen and (min-width: 992px) {
  .link-text {
    font-size: 22px;
  }
}

.link-icon {
  padding: 0 10px;
  display: inline-flex;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: #c40914;
  transform-origin: 0%;
  z-index: 9999;
}

.div_jindu_in {
  display: none !important;
}

.twoimages__img {
  background-repeat: no-repeat;
  background-size: cover;
}

.twoimages__inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .twoimages__inner {
    padding: 0 40px;
  }
}
@media screen and (min-width: 992px) {
  .twoimages__inner {
    flex-direction: row;
  }
}

.twoimages__img {
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .twoimages__img {
    width: 50%;
  }
}

.twoimages__img-1 {
  background-image: url(../assets/images/images/image-9.jpg);
}

.twoimages__img-2 {
  background-image: url(../assets/images/images/image-11.jpg);
}

.twoimages {
  position: relative;
}

.twoimages__img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: scale(0.8);
  transition: transform 0.4s ease-out;
}

.twoimages__img--visible {
  transform: scale(1);
}

.toTop {
  background-color: #ffffff;
  border: 1px solid #c40914;
  border-radius: 50%;
  position: fixed;
  left: 82%;
  width: 40px;
  height: 40px;
  bottom: 150px;
}
.toTop svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px;
}
@media (max-width: 991px) {
  .toTop {
    display: none;
  }
}

.story__text {
  margin-bottom: 45px;
  display: block;
}
@media screen and (min-width: 992px) {
  .story__text {
    font-size: 22px;
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c40914;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.preloader-background {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #fff;
}

.logo {
  max-width: 200px;
}/*# sourceMappingURL=all.css.map */