.projects {
	@include content-width();
	margin: 0 auto;
}

.project-wrapper {
	position: relative;
	overflow: hidden; // Limits hover effect within the container
	transition: transform 0.3s ease;
	width: 50%;
}

.project-img {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	aspect-ratio: 3/4;
	max-height: 400px;
	width: 100%;
}

.project-img:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.4;
	transition: opacity 0.3s ease;
	pointer-events: none;
}

.project-img:hover {
	transform: scale(1.1); // Scaling effect within the container
}

.project-img:hover::before {
	opacity: 0;
}

.project-info {
	width: 50%;
}

.project__item {
	position: relative;
	opacity: 0; // Initially hidden for animation
	transform: translateX(100px); // Slides in from the right by default
	transition: opacity 0.6s ease, transform 0.6s ease;

	&.revert {
		transform: translateX(-100px); // Slides in from the left for even items
	}

	&.visible {
		opacity: 1;
		transform: translateX(0); // Resets position when visible
	}
}

.project {
	cursor: pointer;
	background-color: #c40914;
	z-index: 22;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 40px 0;
	overflow: hidden;
	transition: transform 0.3s ease;

	@include md-min {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		.revert & {
			flex-direction: row-reverse;
		}
	}
}

.project-title {
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 30px;
	color: white;
}

.project__btn-more {
	position: absolute;
	display: flex;
	justify-content: center;
	right: 0;
	width: 50%;
	bottom: 0;
	text-align: center;
	padding: 10px 0;
	color: $color-white;

	.revert & {
		right: auto;
		left: 0;
	}
}

.project__btn-more-text {
	padding: 0 8px;
	font-size: 12px;
}

.project-info {
	position: relative;
}

.project-info__active {
	position: absolute;
	top: 0;
	left: 0; // Takes full width
	background-color: $color-white;
	width: 100%; // Full width of project-info
	height: 100%; // Full height of project-info
	display: none; // Hidden initially
	opacity: 0; // Hidden with opacity
	transition: opacity 0.3s ease; // Smooth transition for opacity
	z-index: 10; // Higher z-index for visibility on hover
	border-right: 2px solid $color-red;

	.revert & {
		border-left: 2px solid $color-red;
		border-right: 0;
	}
}

.project__item {
	&:hover {
		.project-info__active {
			display: block; // Display info on hover
			width: 50%;
			right: 0;
			left: 50%;
			opacity: 1; // Transition to full opacity
			padding: 20px;
			height: 100%;
		}
	}

	&.revert {
		&:hover {
			.project-info__active {
				right: 50%;
				left: 0;
			}
		}
	}
}

.project-info {
	width: 50%;
	position: relative;
}

.project-info__active--text {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
	align-items: flex-start;
}

.project-info__active-title {
	margin-bottom: 20px;
	font-weight: 500;
	text-decoration: underline;
	text-decoration-color: $color-red;
	text-underline-offset: 2px;
}

.project-info-text {
	padding-bottom: 10px;
	font-weight: 400;
}

.project-info-text__title {
	font-weight: 500;
}

.project__item {
	position: relative;
	opacity: 0; // Initially hidden for animation
	transform: translateX(30px); // Reduced distance for a subtler slide
	transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;

	&.revert {
		transform: translateX(-30px); // Reduced distance for left slide-in on even items
	}

	&.visible {
		opacity: 1;
		transform: translateX(0); // Resets to normal position
	}
}
