.services {
	@include content-width;
	margin: 0 auto;
}

.service__inner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;

	@include md-min {
		flex-direction: row;
	}
}

.service__item--wrapper {
	cursor: pointer;
	width: 100%;
	overflow: hidden;

	@include md-min {
		width: calc(50% - 20px);
	}
}

.service__item {
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	aspect-ratio: 1/1;
	transition: transform 0.3s ease;
}

.service__item-1 {
	background-image: url(../assets/images/services/service-2.jpg);
}

.service__item-2 {
	background-image: url(../assets/images/services/service-1.png);
}

.service__item-3 {
	background-image: url(../assets/images/services/service-3.png);
}

.service__item-4 {
	background-image: url(../assets/images/services/service-4.jpg);
}

.service__item:hover {
	transform: scale(1.1);
}

.service__item::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.4;
	transition: opacity 0.3s ease;
	pointer-events: none;
}

.service__item:hover::before {
	opacity: 0.6;
}

.service__title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 25px;
	text-transform: uppercase;
	z-index: 11;
	color: $color-white;
	font-weight: 400;

	@include md-min {
		font-size: 40px;
	}
}

.services-details {
	@include content-width();
	margin: 0 auto;
}

.service-detail__title {
	border-top: 2px solid $color-red;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	padding: 30px;
	font-size: 22px;
	letter-spacing: 3px;
}

.service-detail__list {
	padding: 30px 0;
}

.sub-list__columns {
	display: flex;
	justify-content: center;
	gap: 50px;
	padding-bottom: 30px;
}

.fade-out {
	opacity: 0;
	transition: opacity 0.5s ease-out;
}
