.service__item--wrapper {
	cursor: pointer;
	width: calc(50% - 20px);
	overflow: hidden;
}

.service__item {
	background-repeat: no-repeat;
	background-size: cover;
	aspect-ratio: 1/1;
}

.service__item-2 {
	background-image: url(../assets/images/services/service-1.png);
}

.service__item-3 {
	background-image: url(../assets/images/services/service-3.png);
}

.service__item-4 {
	background-image: url(../assets/images/services/service-4.jpg);
}

.service__item-1 {
	background-image: url(../assets/images/services/service-2.jpg);
}

.service__item {
	position: relative;
}

.service__title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.services {
	@include content-width;
	margin: 0 auto;
}

.service__inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;
}

.service__title {
	font-size: 40px;
	text-transform: uppercase;
	z-index: 11;
	color: $color-white;
	font-weight: 400;
}

.services-details {
	@include content-width();
	margin: 0 auto;
}

.service-detail__title {
	background-color: $color-red;
	color: $color-white;
	font-weight: 450;
	padding: 20px;
}

.service-detail__list {
	padding: 50px 0;
}
