.service__item {
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: cover;
	aspect-ratio: 1/1;
	width: 50%;
}

.service__item-1  {
	background-image: url(../assets/images/services/service-2.jpg);
}

.service__item-2  {
	background-image: url(../assets/images/services/service-1.png);
}

.service__item-3 {
	background-image: url(../assets/images/services/service-3.png);
}
.service__item-4  {
	background-image: url(../assets/images/services/service-4.jpg);
}

.service__item {
	position: relative;
}

.service__title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.services {
	@include content-width;
	margin: 0 auto;
}
