.welcome {
	text-align: center;
	font-size: 22px;
	@include content-width();
	text-align: left;
	margin-top: 200px;

	@include md-max {
		font-size: 16px;
		margin: 40px 0;
	}
}

.welcome-text {
	margin-top: 50px;
}

.welcome-title {
	font-weight: 400;
}

.welcome-subtitle {
	font-size: 25px;
}
